<style>
    .navbar-custom {
        background-color: black !important;
    min-height: 80px; /* Ensures height never goes below 80px */
    padding: 15px 0;  /* Adjust padding for better spacing */
}
.home-link {
    color:yellow !important; 
    opacity: 0.9;
}
.home-link:hover {
    color: orange !important; 
    opacity: 1;
}


</style>

<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body navbar-custom fixed-top" data-bs-theme="dark">
    <!-- <nav class="navbar navbar-expand-lg bg-body-tertiary"> -->
    <div class="container-fluid d-flex">
        <a class="navbar-brand me-auto fs-1" href="#">
            <i class="fa-brands fa-youtube"></i> 
            YouSnip
          </a>
          
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active fs-4 mx-2 home-link abcd" aria-current="page" href="/dashboard">Dashboard</a>
          <a class="nav-link active fs-4 mx-2 home-link abc" aria-current="page" href="/about">About</a>
          <a class="nav-link active fs-4 mx-2 home-link abcde" aria-current="page" href="/contact">Contact</a>

          
        </div>
      </div>
    </div>
  </nav>
  </nav>