<% layout("/layouts/boilerplate") %>

<style>
    body{
        background-color: burlywood;
    }
    .abcde.active {
        color: orange !important;
    }
    .headi{
        font-size: 4rem;
    }
    .main{
        font-size: 1.4rem;
        padding: 4rem 8rem;
        margin-top: 0rem !important;
        
    }
    .container{
        background-color: burlywood ;

    }
    .custom-margin{
    margin-top:10rem !important;
}
</style>

<div class="container custom-margin text-center mt-5 pt-5">
<h1 class="headi">Contact Information</h1>
    <div class="main mt-5">
        <p ><strong>Email:</strong> nilesh312213@gmail.com</p>    
        <p><strong>Phone:</strong> +91 ***** *****</p>
        <p><strong>Address:</strong> Beawar, Rajasthan, India</p>
    </div>
</div>

